<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <div class="mt-2 d-flex">

            <div class="card  me-3" style="width: 18rem;" *ngFor="let product of products"> 
                <img src="{{product.image_url}}" class="card-img-top" alt="Image not found">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>